{% extends "base.html" %}

{% block title %}Ayushmaan's Projects{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project2.css') }}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <div id="nav-projects" class="row justify-content-center align-items-center"
        style="margin-bottom: 3rem; margin-top: -2rem">
        <div class="col-md-12">
            <a href="#NLP" style="padding-right: 1.5rem;">NLP and Machine Learning</a>
            <a href="#ML" style="padding-right: 1.5rem;">Deep
                Learning & CV</a>
            <a href="#Others" style="padding-right: 1.5rem;">Other Projects (Web, Data Analytics)</a>
        </div>
    </div>

    <!-- NLP Category -->
    <h3 class="category-title">Natural Language Processing</h3>
    <div class="scrollable-row" id="#NLP">
        <!-- Project Card -->
        <a href="https://github.com/ayushmaanFCB/Resume-and-Name-Card-Entity-Detection" class="card project-card">
            <img src="{{url_for('static',filename='images/resume_ner.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Resume Named Entity Recognition</h5>
                <p class="card-text">Custom built SpaCy model from scratch, created dataset using Docanno annotator.
                    Connected to MongoDB Atlas for searching and querying.
                </p>
            </div>
        </a>
        <a href="https://github.com/ayushmaanFCB/Streamlit-App-for-Highway-Traffic-Analysis-from-Twitter-API"
            class="card project-card">
            <img src="{{url_for('static',filename='images/code-assist.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Conversational AI for Code Assistance</h5>
                <p class="card-text">React application and a Discord Bot to provide Python code from user prompts.
                    Built in Judge0 compiler to test generated codes.</p>
            </div>
        </a>
        <a href="https://github.com/ayushmaanFCB/Streamlit-App-for-Highway-Traffic-Analysis-from-Twitter-API"
            class="card project-card">
            <img src="{{url_for('static',filename='images/tweets.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Streamlit Highway Traffic Alert from Twitter</h5>
                <p class="card-text">Fetch real time Traffic-related tweets from Twitter API. ACcordingly estimate
                    city traffic. Uses multiple machine learning algorithms.</p>
            </div>
        </a>
    </div>

    <!-- Deep Learning & CV Category -->
    <h3 class="category-title" id="ML">Deep Learning & Computer Vision</h3>
    <div class="scrollable-row">
        <a href="https://github.com/ayushmaanFCB/Spotify-Music-Recommendation-Engine" class="card project-card">
            <img src="{{url_for('static',filename='images/spotify.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Spotify Music Recommendation Engine</h5>
                <p class="card-text">Customized algorithm from Song Recommendations and Playlist Generation. Also,
                    facial emotion based suggestions.</p>
            </div>
        </a><a href="https://github.com/ayushmaanFCB/ANPR-Application-with-PowerBI-Dashboard-and-Chatbot"
            class="card project-card">
            <img src="{{url_for('static',filename='images/anpr.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">ANPR with PowerBI Dashboard</h5>
                <p class="card-text">Recognition of number plates from vehciles, perform text extarction and storing
                    in Database. Application connected to Power BI for analytics.</p>
            </div>
        </a>
        </a><a href="https://github.com/ayushmaanFCB/Human-Activity-Recognizer-Streamlit-Application"
            class="card project-card">
            <img src="{{url_for('static',filename='images/human_act.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Human Activity Recognition</h5>
                <p class="card-text">Streamlit application that uses pre-trained ONNX model in order to detect live
                    human activities from camera feed.</p>
            </div>
        </a>

    </div>

    <h3 class="category-title" id="Others">Data Analytics, Web Designing and Other Domains</h3>
    <div class="scrollable-row">
        <a href="https://github.com/ayushmaanFCB/Premier-League--2021-22--Tableau-Dashboard" class="card project-card">
            <img src="{{url_for('static',filename='images/pldash.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Premier League Seasonal Dashboard</h5>
                <p class="card-text">Tableau Dashboard thatis incorporated in a Flask Application in order to
                    analyze and visualize a football season. Player stats querying feature.</p>
            </div>
        </a>
        <a href="https://github.com/ayushmaanFCB/Premier-League--2021-22--Tableau-Dashboard" class="card project-card">
            <img src="{{url_for('static',filename='images/offside.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Offiside Jerseys Website</h5>
                <p class="card-text">Frontend Project using HTML, CSS, Bootstrap and Angular Framework, a retail
                    website for selling football jerseys.</p>
            </div>
        </a>
        <a href="https://github.com/ayushmaanFCB/Premier-League--2021-22--Tableau-Dashboard" class="card project-card">
            <img src="{{url_for('static',filename='images/jswing.png')}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">JSwings Quiz Application</h5>
                <p class="card-text">An educational quiz application purely designed using Java (JSwings) as a part
                    of the first year Java Course.</p>
            </div>
        </a>
    </div>

</div>

{% endblock %}